@{
    var homeUrl = Href("~/");
}
<div class="span12 text-center">
    <small>
		&#169; <a href="@homeUrl">@WorkContext.CurrentSite.SiteName</a> Theme by <a href="http://www.codingjohnson.com" target="_blank">Coding Johnson</a>
	</small>
</div>