@{
    var homeUrl = Href("~/");
}
<div class="span12">
    <small>
		&#169; <a href="@homeUrl">@WorkContext.CurrentSite.SiteName</a>.
		<br />
		Theme by <a href="http://www.codingjohnson.com" target="_blank">Coding Johnson</a>. Licensed under <a rel="nofollow" href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Based on <a rel="nofollow" href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>
	</small>
</div>